<% if !signed_in?%>

<div class="jumbotron">
	<div class="container">
		<h1>Welcome to the N Enterprise!</h1>
		<p>This is application for personel management of the N Enterprise</p>
		<p><a><%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %></a></p>
	</div>
</div>

<% else %>

	<div class="row">

		<div class="col-lg-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<h3><%=Department.count %> Departments</h3>
				</div>
				<div class="panel-body">
					<ul><%= render @departments %></ul>
				</div>
        <% if admin?(current_user) %>
          <%= render 'shared/new_department_form' %>
        <% end %>
			</div>
		</div>

    <div class="col-lg-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3>Rewards</h3>
        </div>
        <div class="panel-body">
          <ul><%= render @rewards %></ul>
        </div>
		<% if admin?(current_user) %>
			<%= render 'shared/new_reward' %>
		<% end %>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3>Errands</h3>
        </div>
        <div class="panel-body">
          Errand
        </div>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-5">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3><%=Language.count %> Languages</h3>
        </div>
        <div class="panel-body">
          <ul><%= render @languages %></ul>
        </div>
        <% if admin?(current_user) %>
          <%= render 'shared/new_language' %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-7">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3>Characteristics</h3>
        </div>
        <div class="panel-body">
          Characteristic
        </div>
      </div>
    </div>

  </div>

<% end %>
