<% @abilities_p.each do |ability| %>
	<li class="list-group-item">
		<h4>
			<%= form_for(@user.characteristics.find_by(ability_id: ability.id), html: { method: :delete }) do |f| %> 
				<%= f.hidden_field :user_id %>
				<%= ability.description %>
				- <%= @user.characteristics.find_by(ability_id: ability.id).grade %>
				<% if admin?(current_user) %>
					<%= f.submit "Lose the ability", class: "btn" %>
				<% end %>
			<% end %>
		</h4>
	</li>
<% end %>

<%= will_paginate @abilities_p, param_name: 'abilities_page' %>