<% if @user.errand.nil? || @user.errand.is_finished==true %>
	<% if admin?(current_user) && !current_user?(@user) %>
		<%= form_for(@user, url: toerrand_path, method: :patch) do |f| %>
			<%= f.hidden_field :id%>
			<%= f.label "Select an errand" %>
			<%= collection_select(:errands, :id, Errand.all, :id, :address) %>
			<%= f.submit "Assign errand", class: "btn btn-primary" %>
		<% end %>
	<% end %>
<% else %>
	<h3><%= link_to @user.errand.address, @user.errand %></h3>	
<% end %>