<%= form_for(@merit) do |merit| %>
  <li class="list-group-item">
    <div><%= merit.hidden_field :user_id %></div>
    <div class="field">
      <%= merit.label "Assign reward" %>
      <%= collection_select(:rewards, :id, Reward.all, :id, :title) %>
      <%= merit.submit "Submit", class: "btn btn-primary" %>
    </div>
  </li>
<% end %>