<%= form_for(@characteristic) do |f| %>
	<li class="list-group-item">
		<div><%= f.hidden_field :user_id %></div>
		<div class="field">
      <% if !@new_abilities.blank? %>
			  <%= f.label "Select ability" %>
			  <%= collection_select(:abilities, :id, @new_abilities, :id, :description) %>
			  <%= select(:characteristic , :grade, Characteristic::Grades )%>
			  <%= f.submit "Add grade", class: "btn btn-primary" %>
      <% end %>
		</div>
	</li>
<% end %>