<% provide(:title, 'Stuff list') %>
<h1>Stuff list</h1>

<%= will_paginate %>

<%= form_with(model: Department, url: assign_path, method: :put)  do |f| %>

  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-info">
        <table class="table table-striped">
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= min_avatar_for(user) %></td>
              <td>
                <h4><%= link_to user.name, user %></h4>
              </td>

              <% if admin?(current_user) && !current_user?(user) %>
                <td>
                  <h4><%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %></h4>
                </td>
              <% end %>

              <% if admin?(current_user) && !current_user?(user) && user.department.nil? %>
                <td>
                  <%= check_box_tag "department[user_ids][]", user.id %>
                </td>
              <% end %>
          <% end %>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
	
	<% if admin?(current_user) %>
    <div class="col-lg-4">
      <div class="panel panel-info">
        <table class="table table-striped">
          <tbody>
          <% @departments.each do |dep| %>
            <tr>
              <td><%= dep.designation %></td>
              <td>
                <%= radio_button_tag "department[department_id][]", dep.id  %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= f.submit"Assign stuff", class: "btn btn-lg btn-primary"%>
    </div>
  </div>
  <% end %>

  <%= will_paginate %>
  
<% end %>