<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
  <div class="myform">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3>Registration</h3></div>
      <div class="panel-body">
        <section>
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name %>
            <%= f.text_field :name %>

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>
			
			<%= f.label :region %>
			<%= f.text_field :region %>

            <%= fields_for(@speech) do |sf| %>
              <div class="field">
              <%= sf.label "All languages" %>
              <%= collection_select(:languages, :id, Language.all, :id, :name) %>
              </div>
            <% end %>

            <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
          <% end %>
        </section>
      </div>
    </div>
  </div>
</div>

