<% provide(:title, current_user.name )%>
<div class=""><h1><%= @user.name %></h1></div>
<div class="row">

	<div class="col-lg-3">
		<div class="panel panel-primary">	
			<div class="panel-heading"><h2>Users list</h2></div>
			<div class="panel-body">
        <% @users.each do |user| %>
          <li><%= link_to user.name, user %></li>
        <% end %>
				<%= will_paginate %>
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="panel panel-default">	
			<div class="panel-heading"><h2>Main information</h2></div>
			<div class="panel-body">
				<section>
					<%= avatar_for(@user) %>
					<hr>
          <h2>Hire date: <p><%= @user.employment_date %></p></h2>
					<hr>
					<h2>Rewards:</h2>
					<ul class="list-group">
						<%= render 'reward' %>
            <% if admin?(current_user) && !current_user?(@user) %>
              <%= render 'new_reward' if signed_in? %>
            <% end %>
					</ul>
				</section>	
			</div>
		</div>
	</div>

	<div class="col-lg-5">

		<div class="panel panel-default">	
			<div class="panel-heading"><h2>Personal information</h2></div>
			<div class="panel-body">

				<div class="row">

					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading"><h3>Assignments</h3></div>
							<div class="panel-body">
								<%= render 'assignment' %>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading"><h3>Errands</h3></div>
							<div class="panel-body">
                <% if !@user.errand.nil? %>
                  <h3><%= link_to @user.errand.address, @user.errand %></h3>
                <% else %>
                  <%= render 'errand' %>
                <% end %>
							</div>
						</div>
					</div>

				</div>

				<hr>

				<h2>Characteristics:</h2>
				<ul class="list-group">
					<%= render 'character'%>
					<% if admin?(current_user) && !current_user?(@user) %>
						<%= render 'new_char'%>
					<% end %>
				</ul>

				<hr>

				<h2>Languages:</h2>
				<ul class="list-group">
          <%= render  'language' %>
          <% if current_user?(@user) %>
            <%= render 'new_lang_form' if signed_in? %>
          <% end %>
				</ul>

			</div>
		</div>
	</div>

</div>