<%= form_with model: Errand do |f| %>

  <div class="panel panel-warning">
    <div class="panel panel-heading">
      <%= f.label "Errand form" %>
    </div>
    <div class="panel panel-body">
      <div class="myform">

        <%= f.label "Errand's address" %>
        <%= f.text_field :address, placeholder: "New address" %>

        <%= f.submit "Create an errand", class: "btn btn-lg btn-warning" %>

      </div>
    </div>
  </div>

<% end %>