<% @departments.each do |department| %>
<li>
  <h4>
    <ul>
      <% if admin?(current_user) %>
        <%= link_to department.designation, department%>
      <% else %>
        <%= department.designation %>
      <% end %>
      - <%= department.users.count %> workers
    </ul>

    <ul>
    <% if department.objectives.blank? %>
      <span class="label label-danger">
        (Department has no objectives)
      </span>
     <% else %>
      <span class="label label-info">
        (Department has <%= department.objectives.count %> objectives)
      </span>
    <% end %>
    </ul>
  </h4>
</li>

<ul>
  <% if admin?(current_user) %>
    <%= link_to "delete", department, method: :delete, data: { confirm: "Delete department?" } %>
  <% end %>
</ul>
<% end %>
