<% provide(:title, @department.designation )%>
<h1><%= @department.designation %></h1>
<div class="row">

  <div class="col-lg-5">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Stuff</h3>
      </div>
      <% if !@users.nil? %>
        <ul class="list-group">
          <% @users.each do |user| %>
            <li class="list-group-item">
              <h4>
                <%= min_avatar_for(user) %>
                <%= link_to user.name, user %>
                <% if admin?(current_user) %>
                  | <%= link_to "release", firing_path( :id=> @department.id,:user_id=>user.id),  method: "patch" %>
                <% end %>
              </h4>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="col-lg-7">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Objectives</h3>
      </div>
      <ul class="list-group">
        <% @objectives.each do |objective| %>
          <li class="list-group-item">
            <h4>
              <%= objective.description %>
              <% if admin?(current_user) && !objective.description.nil?%>
                | <%= link_to "delete", objective, method: :delete, data: { confirm: "Delete objective?" } %>
              <% end %>
            </h4>
          </li>
        <% end %>
      </ul>
    </div>

    <%= render 'shared/objective_form' %>

  </div>

</div>


