<%= form_with model: Speech do |model| %>
  <li class="list-group-item">
    <div class="field">
      <%= fields_for(@speech_cr) do |lang| %>
        <%= lang.label "Select language" %>
        <%= collection_select(:languages, :id, Language.all, :id, :name) %>
      <% end %>
      <%= model.submit "Add new language" , class: "btn btn-primary" %>
    </div>
  </li>
<% end %>
