<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a><%= link_to "The N Enterprise", root_path, class: "navbar-brand" %></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<% if signed_in? %>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><%= link_to "Home", root_path %></li>
					<li><%= link_to "Users",  "#" %></li>
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Settings", "#" %></li>	
					<li class="divider"></li>
					<li><%= link_to "Sign out", signout_path, method: "delete" %></li>		  
				</ul>
			<% else %>
				<%= render 'shared/signin_form' %>
			<% end %>
		</div>	 
	</div>
</header>
